<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DV8KTW4TBH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DV8KTW4TBH');
</script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Smarter Crowdsourcing: Coronavirus</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage" onwheel="scroll_dismiss()">


  <div id="home-page">
    <!-- Top Navigation Menu -->
    <div class="topnav">
      <div class="menu-bars">
        <div class="bar-wrap">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>

      <a class="top_logo" href="../index.html"><img src="../../images/coronavirus-full-h-white.png"
          alt="Smarter Crowdsourcing | Zika"></a>
      <!-- Navigation links (hidden by default) -->
      <div class='lang-select'>
        <a style="padding: 15px 5px" :href="'../../es/strategies/' +  stratData[0].slug">ES</a>
        <p style="color:#ffffff">|</p>
        <a style="padding: 15px 5px"  :href="'../../strategies/' +  stratData[0].slug">EN</a>
        <p style="color:#ffffff">|</p>
        <a style="padding: 15px 5px" class="active" href="#">PT</a>
      </div>
    </div>
    <div id="myLinks">
      <div class="menu-items">
        <div class="menu-sub"><a href="index.html">Home</a></div>
        <div class="menu-sub"><a href="about.html">About</a></div>
        <div class="menu-sub"> <a href="index.html#topics">Topic</a></div>
        <div class="menu-sub"><a href="team.html">Team</a></div>
        <div class="menu-sub"><a href=""></a></div>
        <div class="menu-sub"><a href=""></a></div>
        <div class="menu-sub"><a href=""></a></div>
        <!-- <div class="menu-sub"><a href="/recommendations.html">Recommendations</a></div>
      <div class="menu-sub"><a href="/map.html">Explore the Map</a></div>
      <div class="menu-sub"><a href="https://medium.com/smarter-crowdsourcing">Blog</a></div> -->
      </div>
    </div>
    <div class="row top-section topic specific-recco">

      <h1>STRATEGY</h1>
      <p>This strategy is a means to achieve a specific recommendation. Explore the actions you can take to implement this strategy and global examples of it in practice. </p>
    </div>

    <section>
      <div class="main-buttons accent-color index-page-button">

        <a  v-for="recco in stratData[0].strat_rec" :href="'../recommendations/'+recco.recommendation_id.slug" class="button">See related strategies</a>
        <a  href="../strategies.html" class="button">See all strategies</a>
      </div>
    </section>

    <div class="recco-specific-page">
      <div class="strategy-item">
        <div class="strat-row">
          <div class="strat-left">
            <div class="strategy-number">
              <h4>STRATEGY</h4>
            </div>
            <div class="strategy-description" v-html="stratData[0].description_pt">

            </div>
          </div>
          <div class="strat-right">

            <div class="strategy-tags">
              <div class="tag-first-row">
                <div class="timeline">
                  <div class="recco-tag-title">
                    <p>TIMEFRAME</p>
                  </div>
                  <div class="clock-icons">
                    <img v-for="n in 4"
                      v-if="(stratData[0].timeline=='timeline_1' && n<2) ||(stratData[0].timeline=='timeline_2' && n<3) || (stratData[0].timeline=='timeline_3' && n<4) || (stratData[0].timeline=='timeline_4' && n<5)"
                      src="../../images/clock_00.png">
                    <img v-for="n in 4"
                      v-if="(stratData[0].timeline=='timeline_1' && n>1) ||(stratData[0].timeline=='timeline_2' && n>2) || (stratData[0].timeline=='timeline_3' && n>3) || (stratData[0].timeline=='timeline_4' && n>4)"
                      src="../../images/clock_light.png">
                  </div>
                  <div v-if="stratData[0].timeline == 'timeline_1'">
                    <p>1-3 meses (imediato)</p>
                  </div>
                  <div v-if="stratData[0].timeline == 'timeline_2'">
                    <p>3-6 meses (médio)</p>
                  </div>
                  <div v-if="stratData[0].timeline == 'timeline_3'">
                    <p>6-12 meses (longo)</p>
                  </div>
                  <div v-if="stratData[0].timeline == 'timeline_4'">
                    <p>1+ anos (mudança estrutural)</p>
                  </div>
                  
                </div>
                <div class="audience">
                  <div class="recco-tag-title">
                    <p>AUDIENCE</p>
                  </div>
                  <div class="recco-tag-body audience-body">
                    <div v-for="audience in stratData[0].audience">
                      <a v-if="audience == 'audience_1' "><span class="tag-item audience">Setor privado</span></a>
                      <a v-if="audience == 'audience_2' "><span class="tag-item audience">Academia</span></a>
                      <a v-if="audience == 'audience_3' "><span class="tag-item audience">Público geral</span></a>
                      <a v-if="audience == 'audience_4' "><span class="tag-item audience">Populações vulneráveis</span></a>
                      <a v-if="audience == 'audience_5' "><span class="tag-item audience">Profissionais médicos</span></a>
                      <a v-if="audience == 'audience_6' "><span class="tag-item audience">Trabalhadores essenciais</span></a>
                      <a v-if="audience == 'audience_7' "><span class="tag-item audience">Trabalhadores governamentais</span></a>
                      <a v-if="audience == 'audience_8' "><span class="tag-item audience">Sociedade civil organizada</span></a>
                      <a v-if="audience == 'audience_9' "><span class="tag-item audience">Organizações sem fins lucrativos</span></a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tag-second-row">
                <div class="type">
                  <div class="recco-tag-title">
                    <p>TYPE</p>
                  </div>
                  <div class="recco-tag-body audience-body">
                    <div v-for="area in stratData[0].area">
                      <a v-if="area == 'area_1' "><span class="tag-item type">Pesquisa</span></a>
                      <a v-if="area == 'area_2' "><span class="tag-item type">Políticas/Regulamentação/Legislação</span></a>
                      <a v-if="area == 'area_3' "><span class="tag-item type">Dados</span></a>
                      <a v-if="area == 'area_4' "><span class="tag-item type">Tecnologia/Inovação</span></a>
                      <a v-if="area == 'area_5' "><span class="tag-item type">Comunicações</span></a>
                      <a v-if="area == 'area_6' "><span class="tag-item type">Parcerias</span></a>
                      <a v-if="area == 'area_7' "><span class="tag-item type">Criação de capacidade</span></a>
                      <a v-if="area == 'area_8' "><span class="tag-item type">Populações Vulneráveis</span></a>
                      <a v-if="area == 'area_9' "><span class="tag-item type">Contratação/Logísticas</span></a>
                    </div>
                  </div>
                </div>
                

                <div class="type">
                  <div class="recco-tag-title">
                    <p>TOPIC</p>
                  </div>
                  <div class="recco-tag-body audience-body">
                    <div>
                      <a :href="'../'+stratData[0].strat_topic[0].topics_id.translations[0].slug"><span
                          class="tag-item">{{stratData[0].strat_topic[0].topics_id.translations[1].topic_title}}</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="actions-accordion">
          <div class="faq-section">

            <div class="faq-item">

              <button v-on:click="toggleMessage(index,0)" class="accordion">
                <h2>ACTIONS GOVERNMENTS SHOULD TAKE ({{stratData[0].actions.length}} actions)</h2><i
                  class="material-icons down"></i>
              </button>
              <div v-if="showAction && index_active == index" class="panel">
                <div class="action-item" v-for="(action,action_index) in stratData[0].actions">
                  <div class="strategy-number">
                    <h4>ACTION {{action_index + 1}}</h4>
                  </div>
                  <div class="action-text" v-html="action.actions_id.description_pt">

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div v-if="stratData[0].examples.length > 0" class="examples-accordion">
          <div class="faq-section">

            <div class="faq-item">

              <button @click="toggleMessage(index,1)" class="accordion">
                <h2>EXAMPLES FROM AROUND THE WORLD ({{stratData[0].examples.length}} example)</h2><i
                  class="material-icons down"></i>
              </button>
              <div v-if="showExample && index_active == index" class="panel">
                <div class="action-item" v-for="(example,example_index) in stratData[0].examples">
                  <div class="strategy-number">
                    <h4>EXAMPLE {{example_index + 1}}</h4>
                  </div>
                  <div class="action-text" v-html="example.examples_id.description_pt">

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  </body>
  <footer class='footer-alt'>
    <div class="row align-center">
      <div class="medium-6 medium-centered columns">
        <!-- <h4>In collaboration with</h4> -->
        <!-- <h4>EN COLABORACIÓN CON</h4> -->
        <h4>IN COLLABORATION WITH</h4>
      </div>

    </div>
    <div class="row">
      <div class="column">
        <a class="footer_partner-logo" href="http://www.iadb.org/" target="_blank"><img
            src="../../images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
      </div>
      <div class="column">
        <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
            src="../../images/govlab-logo-white.png" alt="The GovLab"></a>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge" alt="Creative Commons License"
            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <p>&nbspThis work is licensed under a</p>&nbsp<a rel="license"
          href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
          International License.</a>.
      </div>
    </div>
  </div>
</body>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      }
    }
  }
</script>
<script src="js/fadein.js"></script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="../../js/strategies.js"></script>

</html>