<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Smarter Crowdsourcing: Coronavirus</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage"  onwheel="scroll_dismiss()">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="index.html"><img src="../images/coronavirus-full-h-white.png" alt="Smarter Crowdsourcing | Zika"></a>
    <!-- Navigation links (hidden by default) -->
    <div class='lang-select'>
      <a style="padding: 15px 5px" href="#" class="active">ES</a>
      <p style="color:#ffffff" >|</p>
      <a style="padding: 15px 5px" href="../monitoring.html">EN</a>
      <p style="color:#ffffff" >|</p>
      <a  style="padding: 15px 5px" href="../pt/monitoring.html">PT</a>
    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub"><a href="index.html">Inicio</a></div>
      <div class="menu-sub"><a href="about.html">Acerca de</a></div>
      <div class="menu-sub"> <a href="index.html#topics">Temas</a></div>
      <div class="menu-sub"><a href="team.html">Equipo</a></div>
      <div class="menu-sub"><a href="recommendations.html">Explore Recommendations</a></div>
      <div class="menu-sub"><a href="strategies.html">Explore Strategies</a></div>
      <div class="menu-sub"><a href="resources.html">See all resources</a></div>
      <!-- <div class="menu-sub"><a href="/recommendations.html">Recommendations</a></div>
      <div class="menu-sub"><a href="/map.html">Explore the Map</a></div>
      <div class="menu-sub"><a href="https://medium.com/smarter-crowdsourcing">Blog</a></div> -->
    </div>
  </div>
  <div id="home-page">
  <div class="row top-section topic"  :style="{ backgroundImage: 'url(' + indexData[4].image.data.full_url+ ')' }">
    
    <h1>{{indexData[4].translations[1].topic_title}}</h1>
    <p>{{indexData[4].translations[1].short_description}}</p>
  </div>
  <div class="row align-center">


  </div>
  
 
    <section>
      <div class="main-buttons accent-color index-page-button">
        
        <!-- <a href="/call-for-participants.html" class="button ">Participate</a> -->
        <a href="https://docs.google.com/document/d/1KMGSj_IRCx5ckathnvgOObrmCI6UsJB8H0L7g-9Sbjg/edit?usp=sharing" target="_blank" class="button">memorándum de recomendaciones</a>
        <a href="https://docs.google.com/document/d/1njwE569j-Xc1LVsQN4xWCIa3lq8PGHgyaa9rv2SNDfs/edit?usp=sharing" target="_blank" class="button">lecciones de la sesión</a>
      </div>
    </section>
    <section class="light-section topic_desc">
      <h1>DESCRIPCIÓN</h1>
        <p>{{indexData[4].translations[1].long_description}}</p>

    </section>
    <div class="main-buttons accent-color topic-page-button">
      <a href="https://docs.google.com/document/d/1MZxmVrYVLwdnWmOnAYIBfX7vwERQaJ0GWpuxxxrzjNc/edit?usp=sharing" target="_blank" class="button">descargue la DESCRIPCIÓN DEL PROBLEMA</a>
      <a href="https://docs.google.com/document/d/1D8-jyCL58PT3_wyNSs1OpI1y2812tFQCiiX2858dlec/edit?usp=sharing" target="_blank" class="button">Lea el informe regional</a>
      <a href="https://docs.google.com/document/d/19fvbOVxFGXRtINDONg3jrPx6gUSkyMhtSJGwVLcPzGY/edit?usp=sharing" target="_blank" class="button">Agenda y logística</a>
      <a href="https://docs.google.com/document/d/1OJG1Ft8x6v9xgtaoK5EfVL6PxMjIw3pzwS4U7ASenLQ/edit?usp=sharing" target="_blank" class="button">Expertos y Participantes</a>
    </div>
    <div class="divider recco">

      <h1>RECOMMENDATIONS</h1>
    </div>
    <div class="recco-page">
      <div class="recco-col" v-for="recco in ReccoData">
        <template v-for="tag_template in recco.topic" v-if="tag_template.topics_id.translations[1].topic_title == indexData[4].translations[1].topic_title">
        <div class="recco-item">
          <a class="recco-link" :href="'recommendations/'+recco.slug">
          <div class="recco-title" v-html="recco.title_es">
            
          </div>
          <div class="recco-description" v-html="recco.description_es">
            
          </div>
          <div class="recco-tag">
            <div class="recco-tag-title">
              <p>TOPIC</p>
            </div>
            <div class="recco-tag-body">
              <div v-for="tag in recco.topic">
                <a :href="tag.topics_id.translations[0].slug"><span class="tag-item">{{tag.topics_id.translations[1].topic_title}}</span></a>
              </div>
            </div>
          </div>
        </a>
        </div>
      </template>
      </div>

    </div>
    <section>
      <div class="main-buttons accent-color index-page-button">
        <a href="recommendations.html" target="_blank" class="button">READ ALL RECOMMENDATIONS</a>
      </div>
    </section>
  </div>
  <footer class='footer-alt'>
    <div class="row align-center">
      <div class="medium-6 medium-centered columns">
        <!-- <h4>In collaboration with</h4> -->
        <!-- <h4>EN COLABORACIÓN CON</h4> -->
        <h4>EN COLABORACIÓN CON</h4>
      </div>
  
    </div>
    <div class="row">
      <div class="column">
          <a class="footer_partner-logo" href="http://www.iadb.org/" target="_blank"><img
              src="../images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
      </div>
      <div class="column">
          <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
              src="../images/govlab-logo-white.png" alt="The GovLab"></a>
        </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge"
            alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            <p>&nbspEste trabajo está autorizado por la</p>&nbsp<a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Internacional Creative Commons
            Attribution-ShareAlike 4.0</a>.
      </div>
    </div>
  </div>
</body>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } 
  }
  }
</script>
<script src="../js/fadein.js"></script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="../js/coronavirus.js"></script>

</html>