<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DV8KTW4TBH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DV8KTW4TBH');
</script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Smarter Crowdsourcing: Coronavirus</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage" onwheel="scroll_dismiss()">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="index.html"><img src="../images/coronavirus-full-h-white.png"
        alt="Smarter Crowdsourcing | Zika"></a>
    <!-- Navigation links (hidden by default) -->
    <div class='lang-select'>
      <a style="padding: 15px 5px" class="active" href="#">ES</a>
      <p style="color:#ffffff">|</p>
      <a style="padding: 15px 5px" href="../strategies.html">EN</a>
      <p style="color:#ffffff">|</p>
      <a style="padding: 15px 5px" href="../pt/strategies.html">PT</a>
    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub"><a href="index.html">Home</a></div>
      <div class="menu-sub"><a href="about.html">About</a></div>
      <div class="menu-sub"> <a href="index.html#topics">Topic</a></div>
      <div class="menu-sub"><a href="team.html">Team</a></div>
      <div class="menu-sub"><a href="recommendations.html">Explore Recommendations</a></div>
      <div class="menu-sub"><a href="strategies.html">Explore Strategies</a></div>
      <div class="menu-sub"><a href="resources.html">See all resources</a></div>
      <!-- <div class="menu-sub"><a href="/recommendations.html">Recommendations</a></div>
      <div class="menu-sub"><a href="/map.html">Explore the Map</a></div>
      <div class="menu-sub"><a href="https://medium.com/smarter-crowdsourcing">Blog</a></div> -->
    </div>
  </div>
  <div class="row top-section topic strategies">

    <h1>Strategies</h1>
    <p>Estrategias para implementar  las recomendaciones propuestas por expertos durante las conferencias de Smarter Crowdsourcing</p>
  </div>

  <body>
    <div id="home-page">
      <section class="dark-section">
        <br> <br>
        <div class="row">

          <p>Los resultados de este proyecto son un conjunto de <a class="link_pink" href="recommendations.html">18 recomendaciones</a> desarrolladas con el apoyo de
            expertos globales. Estas recomendaciones están diseñadas para que los funcionarios gubernamentales los
            ayuden a abordar la pandemia de COVID-19. Cada recomendación está respaldada por un conjunto de estrategias
            para lograr ejecutar la recomendación. <a class="link_pink" href="strategies.html">Las estrategias</a>, a su vez, detallan acciones y ejemplos globales que
            guían a los gobiernos y detallan los pasos específicos necesarios para implementar la estrategia. Cada
            estrategia es un medio para lograr una recomendación específica. Puede explorar estrategias individuales
            mediante la búsqueda de palabras clave, audiencia, tipo de estrategia y cronograma. </p>
          <div class="main-buttons accent-color">
            <a href="recommendations.html" target="_blank" class="button">Explore all recommendations</a>
            <a href="strategies.html#strat" class="button">Explore all strategies</a>
          </div>
        </div>

      </section>
      <div class="divider recco" id="strat">
        <h1>Strategies</h1>
      </div>
      <div class="filters">
        <div class="form-control">
          <select id="form-1" @change="changeFilter($event)">
            <option class="material-icons" value="" selected disabled>Audience</option>
            <option v-for="audience in js_audience" :value="audience.code" :key="audience.code">{{ audience.name }}
            </option>
          </select>
        </div>

        <div class="form-control">
          <select id="form-2" @change="changeFilter($event)">
            <option value="" selected disabled>Type</option>
            <option v-for="type in js_type" :value="type.code" :key="type.code">{{ type.name }}
            </option>
          </select>

        </div>
        <div class="form-control">
          <select id="form-3" @change="changeFilter($event)">
            <option value="" selected disabled>Topic</option>
            <option v-for="topic in js_topic" :value="topic.code" :key="topic.code">{{ topic.name }}</option>
          </select>

        </div>

        <div class="form-control">
          <select id="form-4" @change="changeFilter($event)">
            <option value="" selected disabled>Timeline</option>
            <option v-for="time in js_timeline" :value="time.code" :key="time.code">{{ time.name }}</option>
          </select>
        </div>
      </div>

      <div class="search">
        <input name="search-bar" type="text" id="search-text" placeholder="Filter by text" />
        <input name="buttonExecute" @click="searchItems()" type="button" value="Search" />
        <input name="buttonExecute" @click="ResetItems()" type="button" value="Reset" />
      </div>
      <div class="counters">
        <div class="count-entries">
          <p><span>Total number of strategies in the repository: <b>{{indexData.length}}</b></span></p>
        </div>
        <div id="filter-count" class="count-entries">
          <p><span>Filtered strategies: <b>{{filterData.length}}</b></span></p>
        </div>
      </div>
      <div class="project-list">
        <div class="no-project" v-if="!filterData.length">
          Sorry no projects found for the filter criteria you selected!
        </div>
        <div class="table">
          <div class="table-header">
            <div class="row-description-content header-row">
              <h2>Strategy</h2>
            </div>

            <div class="row-topic-content">
              <h2>Topic</h2>
            </div>
            <div class="row-reccomendation-content">
              <h2>Recommendation</h2>
            </div>
          </div>
          <a v-for="strategy in filterData" class="table-row" :href="'strategies/'+strategy.slug">
            <div class="row-description-content" v-html="strategy.description_es">

            </div>

            <div class="row-topic-content">
              <div class="strat_topic_item" v-for="s_topic in strategy.strat_topic">
                <span class="tag-item">{{s_topic.topics_id.translations[1].topic_title}}</span>
              </div>
            </div>
            <div class="row-reccomendation-content">
              <div class="strat_rec_item" v-for="recco in strategy.strat_rec">
                {{recco.recommendation_id.title_es}}


              </div>
            </div>
          </a>
        </div>
      </div>

    </div>


    <footer class='footer-alt'>
      <div class="row align-center">
        <div class="medium-6 medium-centered columns">
          <!-- <h4>In collaboration with</h4> -->
          <!-- <h4>EN COLABORACIÓN CON</h4> -->
          <h4>IN COLLABORATION WITH</h4>
        </div>

      </div>
      <div class="row">
        <div class="column">
          <a class="footer_partner-logo" href="http://www.iadb.org/" target="_blank"><img
              src="../images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
        </div>
        <div class="column">
          <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
              src="../images/govlab-logo-white.png" alt="The GovLab"></a>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="row">
        <div class="column">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img class="copyright_cc-badge" alt="Creative Commons License"
              src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
          <p>&nbspThis work is licensed under a</p>&nbsp<a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
            International License.</a>.
        </div>
      </div>
    </div>
  </body>
  <footer class='footer-alt'>
    <div class="row align-center">
      <div class="medium-6 medium-centered columns">
        <!-- <h4>In collaboration with</h4> -->
        <!-- <h4>EN COLABORACIÓN CON</h4> -->
        <h4>IN COLLABORATION WITH</h4>
      </div>

    </div>
    <div class="row">
      <div class="column">
        <a class="footer_partner-logo" href="http://www.iadb.org/" target="_blank"><img
            src="../images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
      </div>
      <div class="column">
        <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
            src="../images/govlab-logo-white.png" alt="The GovLab"></a>
      </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge" alt="Creative Commons License"
            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <p>&nbspThis work is licensed under a</p>&nbsp<a rel="license"
          href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
          International License.</a>.
      </div>
    </div>
  </div>
</body>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      }
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function dismiss_menu() {
    var x = document.getElementById("myLinks");
    x.style.display = "none";
  }
</script>
<script src="js/fadein.js"></script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="../js/filters.js"></script>

</html>