<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DV8KTW4TBH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DV8KTW4TBH');
</script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crowdsourcing Inteligente: coronavirus</title>

  <link href="/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/kad3hcl.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
  <script src="https://kit.fontawesome.com/f713a12e61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage"  onwheel="scroll_dismiss()">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->


  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div class="menu-bars">
      <div class="bar-wrap">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <a class="top_logo" href="#home"><img src="../images/coronavirus-full-h-white.png" alt="Smarter Crowdsourcing | Zika"></a>
    <!-- Navigation links (hidden by default) -->
    <div class='lang-select'>
      <a style="padding: 15px 5px" href="../es/outcomes.html">ES</a>
      <p style="color:#ffffff" >|</p>
      <a style="padding: 15px 5px" href="../outcomes.html">EN</a>
      <p style="color:#ffffff" >|</p>
      <a  style="padding: 15px 5px" href="#" class="active">PT</a>
    </div>
  </div>
  <div id="myLinks">
    <div class="menu-items">
      <div class="menu-sub"><a href="index.html">Inicio</a></div>
      <div class="menu-sub"><a href="about.html">Sobre</a></div>
      <div class="menu-sub"> <a href="index.html#topics">Temas</a></div>
      <div class="menu-sub"><a href="team.html">Equipe</a></div>
      <div class="menu-sub"><a href=""></a></div>
      <div class="menu-sub"><a href=""></a></div>
      <div class="menu-sub"><a href=""></a></div>
      <!-- <div class="menu-sub"><a href="/recommendations.html">Recommendations</a></div>
      <div class="menu-sub"><a href="/map.html">Explore the Map</a></div>
      <div class="menu-sub"><a href="https://medium.com/smarter-crowdsourcing">Blog</a></div> -->
    </div>
  </div>
  <div class="row top-section topic">

    <h1>Outcomes</h1>

  </div>
  <section>
    <div class="main-buttons accent-color index-page-button">
      <a :href="reportData.final_report_pt.data.full_url" class="button home-btn" target="_blank">BAIXAR O RELATÓRIO FINAL</a>
      <a :href="reportData.exec_memos_pt.data.full_url" class="button home-btn" target="_blank">BAIXAR OS MEMORANDOS EXECUTIVOS</a>
    </div>
  </section>

  <body>
    
    <div id="home-page">

      <section class="dark-section">
        <br> <br>
        <div class="row">

          <p>The outcomes of this project are a set of <a class="link_pink" href="recommendations.html">18
              recommendations</a> developed with the support of global experts. These recommendations are designed for
            government officials to aid them as they address the COVID-19 pandemic. Each recommendation is supported by
            <a class="link_pink"  href="strategies.html">a set of strategies</a> to achieve that recommendation. Strategies in turn detail
            actions and global examples that guide governments of the specific steps needed for implementing the
            strategy.</p>
            <div class="main-buttons accent-color">
 
              <a href="recommendations.html" target="_blank" class="button">Explore all recommendations</a>
              <a href="strategies.html" target="_blank" class="button">Explore all strategies</a>
            </div>
        </div>

      </section>
      <div class="divider recco">
        <h1>About the products</h1>
      </div>
      <div class="table-section">
        <div class="product-table-header">
          <div class="table-title">
            <h2>TITLE</h2>
          </div>
          <div class="table-title">
            <h2>Description</h2>
          </div>
          <div class="table-title">
            <h2>Use</h2>
          </div>
        </div>
        <a class="product-table-contents" v-for="item in productData" :href="item.translation[2].link" target="_blank">
          
          <div class="table-body title">
            <div>
              <p v-if="item.final_product" style="margin:0"><span class="final-product final">Produto final</span></p>
              <p v-if="!item.final_product" style="margin:0"><span class="final-product">Materials da conferência</span></p>
              <p>{{item.translation[2].title}}</p>
              </div>
            </div>
          </div>
          <div class="table-body">
            <div  v-html="item.translation[2].description"></div>
          </div>
          <div class="table-body">
            <div v-html="item.translation[2].use"></div>
          </div>
        </a>

      </div>
    </div>

  </body>
  <footer class='footer-alt'>
    <div class="row align-center">
      <div class="medium-6 medium-centered columns">
        <h4>EM COLABORAÇÃO COM</h4>
      </div>

    </div>
    <div class="row">
      <div class="column">
          <a class="footer_partner-logo" href="http://www.iadb.org/" target="_blank"><img
              src="../images/partners/idb-white.gif" alt="Inter-American Development Bank"></a>
      </div>
      <div class="column">
          <a class="footer_partner-logo" href="http://www.thegovlab.org" target="_blank"><img
              src="../images/govlab-logo-white.png" alt="The GovLab"></a>
        </div>
    </div>
  </footer>
  <div class="copyright">
    <div class="row">
      <div class="column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img class="copyright_cc-badge"
            alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            <p>&nbspEste trabajo está autorizado por la</p>&nbsp<a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Internacional Creative Commons
            Attribution-ShareAlike 4.0</a>.
      </div>
    </div>
  </div>
</body>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function scroll_dismiss() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } 
  }
  }
</script>
<script src="../js/fadein.js"></script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="../js/coronavirus.js"></script>

</html>